html,
body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Helvetica, Arial,
    sans-serif;
}

.chartWrap {
  margin: 2rem;
}

@media screen and (max-width: 781px) {
  .chartWrap {
    margin-top: 1rem;
  }
}

.datePickerWrap {
  display: flex;
  margin-top: 2rem;
}

@media screen and (max-width: 781px) {
  .datePickerWrap {
    flex-direction: column;
    margin-top: 1rem;
  }
}

.datePickerInput {
  height: 2.5rem;
  border: none;
  border-radius: 4px;
  outline: none;
  margin-right: 1rem;
  display: flex;
  text-align: center;
  width: 16rem;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.1);
  color: #696969;
  font-size: 1rem;
}

@media screen and (max-width: 781px) {
  .datePickerInput {
    margin: 0 0 1rem;
  }
}

.datePickerInput:hover {
  cursor: pointer;
}

.react-datepicker__month-container {
  width: 16rem;
}

.react-datepicker {
  border: none !important;
  width: 16rem;
  outline: none;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.1);
}
.react-datepicker__triangle {
  display: none;
}

div.tooltip {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  height: 28px;
  padding: 4px;
  background: #333;
  border-radius: 4px;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.1);
  pointer-events: none;
  color: white;
  font-size: 0.8rem;
}
